<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Grading Criteria</title>
</head>
<body>
    <h1>Provide Grading Criteria</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="word_range">Word Range:</label>
        <input type="number" id="word_range" name="word_range" min="1" max="{{ num_words }}" required>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>
